<!DOCTYPE html>
<html lang="en">
<style>
    table,
    th,
    td {
        border: 1px solid black;
    }
</style>

<body class="container">


    <main>
        <div class="jumbotron">
            <h1>Feed Articles</h1>
            <ul>
                <table>
                    <tr>
                        <th>Article Image</th>
                        <th>Aritcle</th>
                    </tr>
                    <% res.forEach(function(element) { %>
                        <tr>
                            <td>
                                <img src=\<%=element.thumbnail_image %> alt="Thumbnail Image" width="200" height="100">
                            </td>
                            <td>
                                <strong>
                                    <%= element.headline %>
                                </strong> <br>
                                <i>category:</i>
                                <%= element.category %> <br>
                                    <i>author_name:</i>
                                    <%= element.author_name %> <br>
                            </td>
                        </tr>

                        <% }); %>
                </table>
            </ul>
        </div>
    </main>

</body>

</html>